<%if flash.present? %>
  <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <%= flash.map{|k, v| v}.join(",") %>
  </div>
<%end %>

<div id="faye_msg" class="alert_msg faye_msg">
</div>