<%if flash.present? %>
  <% flash.each do |key, value| %>
    <div id= "notice"  class = "alert alert-<%= key %>">
        <div class="flash ">
          <%= value %>
        </div>
    </div>
  <% end %>
<%end %>