<div class="half_mian_body">
  <div class="div1"> <%= render 'all_orders'  %> </div>
  <div class="div1"> <%= render 'all_order_details' %> </div>
</div>

<div class="half_mian_body">
  <div class="div1">
    <%= render 'talk_model'  %>
  </div>

</div>