<div class="mian_body">
  <div class="div1">
    <%= render "shared/current_meal_type" %>
    <div class="col-md-12">
      <div id="new_meal_type" class ='col-md-8'>
        <%= render 'meal_list' %>
      </div>
      <div id="new_meal_type" class ='col-md-4'>
        <%= render 'new_model' %>
      </div>

    </div>
  </div>
</div>
<script>
  $(function(){
    $("#meal_type_id").on("change",function(){
      location.href = "/meals?meal_type_id="+$(this).val();
    });
  })
</script>
