body{
    padding: 5px;
}
.login_info{
  margin: auto;
  width:400px;
}

.login_info .cf{
    float:left;
    width:100px;


}
.all_orders{

}
.my_orders{

}
.user_info {
    float: right;
    margin-right: 12px;
}
.add_meals_type{
    float: right;
    margin-right: 2px;
}