.span_2{
    margin-top: 5px;
    display: block;
}

.talk_content{

}
.talk_content span{
    padding: 2px 5px;
}
.talk_content label{
    padding: 2px 5px;
}
.talk_content_input{
    padding: 10px 20px;
    float: left;
}
.current_user{
    color:indianred;
}
.other_user{
    color:dodgerblue;
}

.talk_content{
    height: 400px;
    overflow: auto;
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 5px;
}