<div class="login_info" style="padding-top: 200px;">
  <h2 style="text-align: center;">登录订餐系统</h2>
     <%=form_for(@user) do |f|%>
        <div style="text-align: center;
                padding: 10px;
        ">
        你的名字：
        <%=f.text_field :uname,id:'uname'%>
        </div>
        <div  style="text-align: center;
                padding: 10px;
        ">
          <input type="button" value="登陆" onclick="check_login(this)" />
        </div>
      <% end %>
    </div>


<script>

function check_login(button){
    var uname=$("#uname").val();
    if($.trim(uname)==""){
        alert('请输入名字');
        return false;
    }
    $(button).parent().parent().submit();
}

</script>